// COLORS
$primary-color: #0F2027;
$secondary-color: #2C5364;

$white-color: #fff;
// $white-color: #2C5364;

$dark-grey: #333333;
// $dark-grey: #863f41;

// $dark-blue-text: #fd5e5a; // For Headings
$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
